<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:protal="http://www.springframework.zs.com/schema/protal"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.zs.com/schema/protal
       http://www.springframework.zs.com/schema/protal.xsd">

       <!--<protal:service xml:id="schemer-test" protocol="dubbo" version="1.0"></protal:service>-->

</beans>